<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/button.css">
    <title>Button</title>
</head>
<body>
    <div
        style="
            max-width: 500px;
            margin: 0 auto;
        "
    >
        <h1>Button</h1>
        <div>
            <div
                style="
                    display: flex;
                    justify-content: space-between;
                "
            >
                <p>Main button</p>
                <p>Default button</p>
                <p>Outline button</p>
            </div>
            <hr>
        </div>
        <div
            style="
                display: flex;
                flex-direction: column;
            "
        >
            <div>
                <div
                    style="
                        display: flex;
                        justify-content: space-between;
                    "
                >
                    <button class="main__button--default">button</button>
                    <button class="sub__button--default">button</button>
                    <button class="outline__button--default">button</button>
                </div>
                <p>Default</p>
            </div>
            <div>
                <div
                    style="
                        display: flex;
                        justify-content: space-between;
                    "
                >
                    <button class="main__button--hover">button</button>
                    <button class="sub__button--hover">button</button>
                    <button class="outline__button--hover">button</button>
                </div>
                <p>Hover</p>
            </div>
            <div>
                <div
                    style="
                        display: flex;
                        justify-content: space-between;
                    "
                >
                    <button class="main__button--active">button</button>
                    <button class="sub__button--active">button</button>
                    <button class="outline__button--active">button</button>
                </div>
                <p>Active</p>
            </div>
            <div>
                <div
                    style="
                        display: flex;
                        justify-content: space-between;
                    "
                >
                    <button class="main__button--focus">button</button>
                    <button class="sub__button--focus">button</button>
                    <button class="outline__button-focus">button</button>
                </div>
                <p>Focus</p>
            </div>
            <div>
                <div
                    style="
                        display: flex;
                        justify-content: space-between;
                    "
                >
                    <button class="main__button--disable">button</button>
                    <button class="sub__button--disable">button</button>
                    <button class="outlinne__button-disable">button</button>
                </div>
                <p>Disable</p>
            </div>
        </div>
    </div>
</body>
</html>