<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/deletePopup.css">
    <title>Document</title>
</head>
<body>
    <div class="delete__modal--container">
        <div class="delete__modal--content">
            <img class="dangerous" src="../assets/img/dangerous.png" alt="">
            <p class="dangerous__text">Bạn có muốn xóa tài sản này không</p>
        </div>
        <div class="delete__modal--button">
            <button
                class="outline__button--default"
                style="
                    font-size: 12px;
                "
            >
                không
            </button>
            <button 
                class="main__button--default"
                style="
                    font-size: 12px;
                    margin-right: 18px;
                    margin-left: 12px;
                "
            >
                Xóa
            </button>
        </div>
    </div>
</body>
</html>