<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/icon.css">
    <link rel="stylesheet" href="../css/main__header.css">
    <title>Main header</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar__container">
            <!-- left -->
            <div class="navbar__container--text">
                <p>Danh sách tài sản</p>
            </div>
            <!-- right links -->
            <ul class="navbar__container--links">
                <li>
                    <p
                        style="
                            font-size: 14px;
                            font-weight: 400;
                            margin: 14px 0;
                            margin-right: 20px;
                        "
                    >
                        Sở tài chính
                    </p>
                </li>
                <li
                    style="
                        padding: 4px 8px;
                        margin: 2px 4px;
                        background-color: rgba(26, 164, 200, .2);
                        border-radius: 3px;
                    "
                >
                    <label for="" style="font-size: 14px;">Năm</label>
                    <span class="number-wrapper"><input type="number" value="2021"></span>
                </li>
                <li class="navbar__container--link">
                    <div class="noti-sprite"></div>
                </li>
                <li class="navbar__container--link">
                    <div class="menu-sprite"></div>
                </li>
                <li class="navbar__container--link">
                    <div class="help-sprite"></div>
                </li>
                <li
                    class="navbar__container--link"
                    style="
                        position: relative;
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        cursor: pointer;
                    "
                >
                    <div style="margin-right: 8px;" class="user-sprite"></div>
                    <div class="arrow-down-solid-sprite"></div>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>