<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/newTable.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <!-- sider -->
        <div class="sider">
            <!-- menu -->
            <div class="menu">
                <!-- logo -->
                <header class="menu__header">
                    <div class="logo-sprite"></div>
                    <strong class="logo-title">Misa qlts</strong>
                </header>
                <!-- menu -->
                <ul class="menu__items">
                    <li class="menu__item">
                        <div class="outline menu-sprite-1"></div>
                        <div class="solid menu-sprite-1-1"></div>
                        <p class="menu__item--text">Tổng quan</p>
                    </li>
                    <li class="menu__item">
                        <div class="outline menu-sprite-2"></div>
                        <div class="solid menu-sprite-2-2"></div>
                        <p class="menu__item--text">Tài sản</p>
                        <div class="arrow-down-sprite"></div>
                    </li>
                    <li class="menu__item">
                        <div class="outline menu-sprite-3"></div>
                        <div class="solid menu-sprite-3-3"></div>
                        <p class="menu__item--text">Tài sản HT-ĐB</p>
                        <div class="arrow-down-sprite"></div>
                    </li>
                    <li class="menu__item">
                        <div class="outline menu-sprite-4"></div>
                        <div class="solid menu-sprite-4-4"></div>
                        <p class="menu__item--text">Công cụ dụng cụ</p>
                        <div class="arrow-down-sprite"></div>
                    </li>
                    <li class="menu__item">
                        <div class="outline menu-sprite-5"></div>
                        <div class="solid menu-sprite-5-5"></div>
                        <p class="menu__item--text">Danh mục</p>
                    </li>
                    <li class="menu__item">
                        <div class="outline menu-sprite-6"></div>
                        <div class="solid menu-sprite-6-6"></div>
                        <p class="menu__item--text">Tra cứu</p>
                        <div class="arrow-down-sprite"></div>
                    </li>
                    <li class="menu__item">
                        <div class="outline menu-sprite-7"></div>
                        <div class="solid menu-sprite-7-7"></div>
                        <p class="menu__item--text">Báo cáo</p>
                        <div class="arrow-down-sprite"></div>
                    </li>
                </ul>
            </div>
            <!-- trigger sider button -->
            <div class="trigger-button">
                <div class="arrow-left-outline-sprite"></div>
                <div class="arrow-right-outline-sprite"></div>
            </div>
        </div>
        <!-- main -->
        <div class="main">
            <!-- navbar -->
            <nav class="navbar">
                <div class="navbar__container">
                    <!-- left -->
                    <div class="navbar__container--text">
                        <p>Danh sách tài sản</p>
                    </div>
                    <!-- right links -->
                    <ul class="navbar__container--links">
                        <li>
                            <p
                                style="
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin: 14px 0;
                                    margin-right: 20px;
                                "
                            >
                                Sở tài chính
                            </p>
                        </li>
                        <li
                            
                            style="
                                padding: 4px 8px;
                                margin: 2px 4px;
                                background-color: rgba(26, 164, 200, .2);
                                border-radius: 3px;
                            "
                        >
                            <label for="" style="font-size: 14px;">Năm</label>
                            <span class="number-wrapper"><input type="number" value="2021"></span>
                        </li>
                        <li class="navbar__container--link">
                            <div class="noti-sprite"></div>
                        </li>
                        <li class="navbar__container--link">
                            <div class="menu-sprite"></div>
                        </li>
                        <li class="navbar__container--link">
                            <div class="help-sprite"></div>
                        </li>
                        <li
                            class="navbar__container--link"
                            style="
                                position: relative;
                                display: flex;
                                align-items: center;
                                white-space: nowrap;
                                cursor: pointer;
                            "
                        >
                            <div style="margin-right: 8px;" class="user-sprite"></div>
                            <div class="arrow-down-solid-sprite"></div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- main content -->
            <div class="main__content">
                <!-- table -->
                <div class="table__container">
                    <table>
                        <thead>
                            <tr>
                                <th style="padding-left: 16px; padding-right: 20px;">
                                    <input type="checkbox">
                                </th>
                                <th>STT</th>
                                <th>Mã tài sản</th>
                                <th>Tên tài sản</th>
                                <th>Loại tài sản</th>
                                <th>Bộ phận sử dụng</th>
                                <th>Số lượng</th>
                                <th>Nguyên giá</th>
                                <th>HM/KM Lũy kế</th>
                                <th>Giá trị còn lại</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <div class="table-body">
                            <tbody>
                                <!-- 1 -->
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 16px; padding-right: 20px;">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>55H7WN72/2022</td>
                                    <td>Dell Inspiron 3467</td>
                                    <td>Máy vi tính xách tay</td>
                                    <td>Phòng hành chính kế toán</td>
                                    <td>
                                        <div>
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            20.000.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            894.000
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            19.106.000
                                        </div>
                                    </td>
                                    <td>
                                        <div style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                            ">
                                            <div class="update-sprite"></div>
                                            <div class="copy-sprite"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </div>
                        <tfoot>
                            <tr>
                                <td style="padding-left: 16px;" colspan="6">
                                    <div>
                                        <div style="float: left; line-height: 40px;">
                                            Tổng số:
                                            <span style="font-weight: bold; margin: 0 1px;">
                                                200
                                            </span>
                                            bản ghi
                                        </div>
                                        <div
                                            style="
                                                position: relative;
                                                float: left;
                                                width: 59px;
                                                height: 25px;
                                                background-color: #ffffff;
                                                border-radius: 2.625px;
                                                border: 1px solid #afafaf;
                                                margin: 7px 24px;
                                            "
                                        >
                                            <span style="line-height: 25px; margin-left: 14px;">20</span>
                                            <div class="table-arrow-down-solid-sprite"></div>
                                        </div>
                                    </div>
                                </td>
                                <th>13</th>
                                <th>249.000</th>
                                <th>19.716</th>
                                <th>229.298.000</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../js/sider.js"></script>
</body>
</html>