<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/icon.css">
    <link rel="stylesheet" href="../css/sider.css">
    <title>Nav</title>
</head>
<body>
    <!-- sider -->
    <div class="sider">
        <!-- menu -->
        <div class="menu">
            <!-- logo -->
            <header class="menu__header">
                <div class="logo-sprite logo"></div>
                <strong class="logo-title">Misa qlts</strong>
            </header>
            <!-- menu -->
            <ul class="menu__items">
                <li class="menu__item">
                    <div class="outline menu-sprite-1"></div>
                    <div class="solid menu-sprite-1-1 hide"></div>
                    <p class="menu__item--text">Tổng quan</p>
                </li>
                <li class="menu__item">
                    <div class="outline menu-sprite-2"></div>
                    <div class="solid menu-sprite-2-2 hide"></div>
                    <p class="menu__item--text">Tài sản</p>
                    <div class="arrow-down-sprite sider-down-icon"></div>
                </li>
                <li class="menu__item">
                    <div class="outline menu-sprite-3"></div>
                    <div class="solid menu-sprite-3-3 hide"></div>
                    <p class="menu__item--text">Tài sản HT-ĐB</p>
                    <div class="arrow-down-sprite sider-down-icon"></div>
                </li>
                <li class="menu__item">
                    <div class="outline menu-sprite-4"></div>
                    <div class="solid menu-sprite-4-4 hide"></div>
                    <p class="menu__item--text">Công cụ dụng cụ</p>
                    <div class="arrow-down-sprite sider-down-icon"></div>
                </li>
                <li class="menu__item">
                    <div class="outline menu-sprite-5"></div>
                    <div class="solid menu-sprite-5-5 hide"></div>
                    <p class="menu__item--text">Danh mục</p>
                </li>
                <li class="menu__item">
                    <div class="outline menu-sprite-6"></div>
                    <div class="solid menu-sprite-6-6 hide"></div>
                    <p class="menu__item--text">Tra cứu</p>
                    <div class="arrow-down-sprite sider-down-icon"></div>
                </li>
                <li class="menu__item">
                    <div class="outline menu-sprite-7"></div>
                    <div class="solid menu-sprite-7-7 hide"></div>
                    <p class="menu__item--text">Báo cáo</p>
                    <div class="arrow-down-sprite sider-down-icon"></div>
                </li>
            </ul>
        </div>
        <!-- trigger sider button -->
        <div class="trigger-button">
            <div class="arrow-left-outline-sprite trigger-button-left-icon"></div>
            <div class="arrow-right-outline-sprite trigger-button-right-icon hide"></div>
        </div>
    </div>

    <!-- script open menu -->
    <script src="../js/sider.js"></script>
</body>
</html>