<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/icon.css">
    <link rel="stylesheet" href="../css/table.css">
    <title>Table</title>
</head>
<body>
    <div class="table__container">
        <table>
            <thead>
                <tr>
                    <th style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </th>
                    <th>STT</th>
                    <th>Mã tài sản</th>
                    <th>Tên tài sản</th>
                    <th>Loại tài sản</th>
                    <th>Bộ phận sử dụng</th>
                    <th>Số lượng</th>
                    <th>Nguyên giá</th>
                    <th>HM/KM Lũy kế</th>
                    <th>Giá trị còn lại</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <!-- 1 -->
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td>
                        <div style="
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                        ">
                            <div class="update-sprite"></div>
                            <div class="copy-sprite"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 16px; padding-right: 20px;">
                        <input type="checkbox">
                    </td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>55H7WN72/2022</td>
                    <td>Dell Inspiron 3467</td>
                    <td>Máy vi tính xách tay</td>
                    <td>Phòng hành chính kế toán</td>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                    <td>
                        <div>
                            20.000.000
                        </div>
                    </td>
                    <td>
                        <div>
                            894.000
                        </div>
                    </td>
                    <td>
                        <div>
                            19.106.000
                        </div>
                    </td>
                    <td></td>
                </tr>
                
            </tbody>
            <tfoot>
                <tr>
                    <td style="padding-left: 16px;" colspan="6">
                        <div>
                            <div style="float: left; line-height: 40px;">
                                Tổng số:
                                <span style="font-weight: bold; margin: 0 1px;">
                                    200
                                </span>
                                bản ghi
                            </div>
                            <div
                                style="
                                    position: relative;
                                    float: left;
                                    width: 59px;
                                    height: 25px;
                                    background-color: #ffffff;
                                    border-radius: 2.625px;
                                    border: 1px solid #afafaf;
                                    margin: 7px 24px;
                                "
                            >
                                <span style="line-height: 25px; margin-left: 14px;">20</span>
                                <div class="arrow-down-solid-sprite table-right-position-icon"></div>
                            </div>
                        </div>
                    </td>
                    <th>13</th>
                    <th>249.000</th>
                    <th>19.716</th>
                    <th>229.298.000</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>